<div id="body">
    <div id="formulaire" class="container justify-content-center ">
      <h1 class="contact-title ml-4 ">Contact us</h1>
      <div class="container no-gutters">             
      <form class=" col-12 mt-3">
          <div class="input-field mt-1 ml-3">
              <label for="mail-input" class="d-block">Your adress mail*</label>
              <input type="email" class="line-input bg" required="required" />
          </div>
          <div class="input-field mt-3 ml-3">
              <label for="name-input"class="d-block">First name*</label>
              <input type="text"  class="line-input" required="required" />
          </div>
          <div class="input-field mt-3 ml-3">
              <label for="name-input"class="d-block">Second name*</label>
              <input type="text" class="line-input" required="required" />
          </div>
          <div class="input-field mt-5  ml-3">
              <select name="topic">
                  <option selected disabled>Message subject</option>                      
                  <option>Question</option>
                  <option>Suggestion</option>                       
                  <option>Others</option>                        
              </select>
          </div>              
          <div class="form-group col-12  col-md-8 mt-2">
              <label for="exampleFormControlTextarea1">Your message *</label>
              <textarea class="form-control" rows="5"></textarea>
            </div>
          <div id="submit-button-container" class="col-lg-2 offset-lg-3">
              <input type="submit" value="Send your message">
          </div>
      </form>      
  </div>
</div>
</div>
