

<div id="body" class="container-fluid pt-1">

  <img class="ml-5 mt-5" src="assets/francais.png" style="width:30px" (click)="tradFrench()" title="Translate in French" alt="">
  <img class="ml-1 mt-5" src="assets/anglais.png"  style="width:30px" (click)="tradEnglish()" title="Translate in English" alt=""> 
  <h1 id="para1" class="mt-3 ml-5">A propos de MDP.Space</h1> 

  

  <div class="row mt-3 pl-5 pr-5">
    <div class="offset-1 col-10">
    <p id="para2" class="mt-3">
    MDP.Space, "M", "D" and "P" comme Madi, Damien et Patrice. 
    </p> 
    <p >
      <mark id="para3a">Nous sommes trois élèves de la Wild Code School </mark> <a href="https://wildcodeschool.fr/">
        <img class=" ml-1 mr-1" src="assets/wcs2.png" style="width: 20px" alt="wcs"></a><mark id="para3b">, et en ce mois d'octobre 2018, pour notre apprentissage,
        nos formateurs nous ont confiés la mission de créer une application qui traite du sujet de l'espace.</mark>
    </p>
    <p id="para4">
      Pour cela, nous avions deux contraintes:       
    </p>
    <p  class="ml-4">
      <i class="fa fa-square" style="font-size:8px"></i><mark id="para5">Notre application doit être développée
        en JavaScript, avec le framework Angular.</mark>
    </p>
    <p  class="ml-4">
      <i class="fa fa-square" style="font-size:8px"></i><mark id="para6a">Notre application doit utiliser des ressources 
        de la </mark> <a class="ml-1 mr-1" href="https://www.nasa.gov/" title="Site web NASA" ><mark id="para6b">NASA</mark></a><mark id="para6c">, via leur API 
        (Application Programming Interface).</mark>
    </p>
    <p id="para7">
      Après avoir étudier l'API de la NASA, nous avons choisi de traiter le sujet des astéroïdes.       
    </p>
    
    <p id="para8" class="ml-1 mb-3 pb-4">
      Bonne visite à vous!       
  </p>

  <div class="row">

  <div class="offset-sm-1 col-10 offset-md-0 col-md-3">
    <div class="card" >
      <img class="card-img-top" src="assets/generic.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title text-dark">Madi</h4> 
        <div>     
          <a href="https://www.linkedin.com/in/nafindra-abdou-madi"><i class="fa fa-linkedin-square mr-2 " style="font-size:36px;color:#006097"></i></a>
          <a href="https://github.com/Madi-Naf"><i class="fa fa-github" style="font-size:36px;color:black"></i></a>
        </div>
      </div>  
    </div>
  </div>
  <div class="offset-sm-1  col-10 col-md-3 ">
      <div class="card" >
        <img class="card-img-top" src="assets/generic.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title text-dark">Damien</h4>        
          <a href="https://www.linkedin.com/in/damien-heulin"><i class="fa fa-linkedin-square mr-2" style="font-size:36px;color:#006097"></i></a>
          <a href="https://github.com/damien-hl"><i class="fa fa-github" style="font-size:36px;color:black"></i></a>
        </div>
      </div>
    </div>
    <div class="offset-sm-1  col-10 col-md-3">
        <div class="card" >
          <img class="card-img-top" src="assets/generic.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title text-dark">Patrice</h4>        
            <a href="https://www.linkedin.com/in/patrice-champrenault"><i class="fa fa-linkedin-square mr-2" style="font-size:36px;color:#006097"></i></a>
            <a href="https://github.com/Patrice28300"><i class="fa fa-github" style="font-size:36px;color:black"></i></a>
          </div>
        </div>
      </div>
  </div>
</div>
 