<div class="container-fluid bg-gradient">
  <div class="row">
    <div class="col-5">
      <ul class="nav justify-content-start">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="#">
            <fa name="fab fa-facebook-square"></fa>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="#">
            <fa name="fab fa-twitter-square"></fa>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="#">
            <fa name="fab fa-youtube-square"></fa>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="#">
            <fa name="fab fa-instagram"></fa>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-7">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="#">mdp.team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/documentation">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://wildcodeschool.fr/"><img src="assets/wcs.png" style="width: 20px" alt="wcs"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
