<div *ngIf="!card">
  <!-- My NASA API TEST -->
  <div class="container mt-5 ">
    <div class="row">
      <ul class="list-group mt-10 col-5">
        <li class="list-group-item">
          Congratulations, we found a total of <strong>{{ arrayInfos.length }} asteroids</strong> that approached the
          Earth
          <strong>between {{ startDate }} and {{ endDate }}</strong> !
        </li>
      </ul>
    </div>
  </div>

  <!--  Affichage des résultats  -->
  <div class="container text-white">
    <div class="row">
      <!-- Pour chaque item du tableau arrayInfos -->
      <div *ngFor="let item of arrayInfos; let i=index" class="col-3  mt-5">
        <section class="stage">
          <figure class="ball">
            <span class="shadow"></span>
            <span class="iris"></span>
          </figure>
        </section>
        <button (click)=getCard(item) class="btn btn-info" target="_blank"> {{ item.name | nameFormat }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Si card vaut true, on affiche les détails -->
<div *ngIf="card" class="container bg-sky-stars content-center">
  <div class="row">
    <!-- Composant AsteroidDetailComponent -->
<asteroid-detail [startDate]=startDate [endDate]=endDate [link]="item.link" #detailsBinding></asteroid-detail>
  </div>
</div>